@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron white-text">
    <h1 class="orange-text">Let's Spread Happiness</h1>
    <p class="lead"><article>
    Give foundation is a Vadodara based NGO which collects used items as
    donations and give them to orphange facilities in Vadodara.This Website also allows you to
    Volunteer for various events of social service.
</article></p>
</div>
    

<div class="row animated rubberBand">

    <div class="col s8 m4">
        <div class="card #b71c1c red darken-4">
            <div class="card-content white-text">
                <span class="card-title">Get Involved</span>
                <hr /><p>
                   You can contact admin and suggest or ask to include a event on the website. 
                <br/><br/><br /></p>
            </div>
        </div>
    </div>

    <div class="col s8 m4">
        <div class="card #ff6f00 amber darken-4">
            <div class="card-content white-text">
                <span class="card-title">Donate Almost Anything</span>
                <hr /><p>
                  Donate Shoes, clothes, electronic appliances, books and stationary items.Our donation collection personals would come to your home to pickup what you have registered to donate on the website.       
                </p>
            </div>
        </div>
    </div>

    <div class="col s8 m4">
        <div class="card #01579b light-blue darken-4">
            <div class="card-content white-text">
                <span class="card-title">Volunteer in Events</span>
                <hr /><p>
                    Browse through all the events on our website and register yorself in one. Your volunteering may touch lives and make someone's day good through social service. 
                </p>
            </div>
        </div>
    </div>
</div>