@model Trial3.Models.UserDonation
@{
    ViewBag.Title = "Select";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}

<h2>Select</h2>

<div class="container">
    <p class="text-center"></p>
        
</div>

